@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.links li{
    display: inline-block;
    text-transform: uppercase;
    list-style-type: none;
    text-align: center;
}

.links2 li{
    display: inline-block;
    text-transform: uppercase;
    list-style-type: none;
    text-align: center;
    margin-left: 4%;
}

.links li a{
    text-decoration: none;
    color: rgb(196, 132, 132);
    font-size: 3em;
    padding: 1.5em;
    transition: all 400ms ease-in-out;
}

.links2 li a{
    text-decoration: none;
    color: rgb(196, 132, 132);
    font-size: 3em;
    padding: 1.5em;
    transition: all 400ms ease-in-out;
    text-align: center;
}

.linkedin{
    float: none;
}


html{
    background-color:rgb(247, 195, 195);
    max-width: 1900px; 
    min-width: 300px;
}

.nav-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "logo links";
    margin-left: 0.7em;
    margin-right: 1.2em;
}

.links{
    position:absolute;
    top: 25%;
    left: 30%;
}

.img-logo{
    width: 45%;
    height: 85%;
}

header{
    font-size: medium;
}

footer{
    min-width: 300px;
    font-size: medium;
    height: 12vh;
    background-color:#353232;
    text-align:center;
}


body {
    font-size: 20px;
    height: 53vh;
    width: 90%;
    background-color:#353232;
    font-family: 'Monserrat';
    min-width: 300px;
    margin: 0 auto;
   
}


button {
    background-color:#353232;
    border-radius: 0.2em;
    border: none;
    font-size: 0.8em;
    color:#FFFFFF;
    padding: 0.5em;
    text-align: center;
    transition: all 500ms ease-in-out;
}

button:hover{
    background-color: rgb(196, 132, 132);
}




/* ----------------------------------------------------------------------Contact Me Page------------------------------------------------------------------ */
.connect{
    width: 100%;
    height: 130%;
    border: 2px solid transparent;
    box-shadow: 0 0 2.5em #353232;
    margin: 0 auto;
}

.container {
	background-color:#585454;
	border-radius: 0.35rem;
    max-width: 70%;
    margin-top: 7em;
    margin-bottom: 15px;
	overflow: hidden;
	position: relative;
    height: 90%;
    top: -17%;
    left: 15%;
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.997);

}

.container-form {
    height: 100%;
	position: absolute;
	top: 0;
	transition: all 0.6s ease-in-out;
    margin-left: 1.8rem;
}

.container-message {
	left: 0;
	opacity: 0;
	width: 50%;
	z-index: 1;
}

.container.right-side-active .container-message {
	animation: show 2s;
	opacity: 1;
	transform: translateX(100%);
	z-index: 5;
}

.form-title{
    color: #FFFFFF;
    text-shadow: 1px 1px 2px #353232;
	margin-top: 0.25rem;
	margin-bottom: 1rem;
    font-size: 40px;
    letter-spacing: 0.2rem;
    margin-left: 1.75rem;
}

.input {
	background-color: #353232;
	border: none;
	padding: 0.2rem;
	width: 100%;
    color: rgb(196, 132, 132);
}

.input100{
    background-color: #353232;
	border: none;
	padding: 0.3rem;
	margin: 0.2rem 0;
	width: 100%;
    color: rgb(196, 132, 132);
    font-size:medium;
} 

.form p{
    color: #FFFFFF;
    text-shadow: 1px 1px 2px #353232;
    font-size: 1.5rem; 
    letter-spacing: 0.1rem;
    margin-left: 45rem;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
}

/* --------------------------------------------------------------------------------Projects Page---------------------------------------------------------------------------- */

.projects-first{
    width: 100%;
    height: 358%;
    border: 2px solid transparent;
    box-shadow: 0 0 2.5em #353232;
    margin: 0 auto;
}

.projects-second{
    margin-top: 2rem;
    width: 100%;
    height: 150%;
    border: 2px solid transparent;
    box-shadow: 0 0 2.5em #353232;
    margin: 0 auto;
}

.projects-third{
    margin-top: 4rem;
    width: 100%;
    height: 128%;
    border: 2px solid transparent;
    box-shadow: 0 0 2.5em #353232;
    margin: 0 auto;
}

.pgsite{
    height: 50%;
    width: 100%;
    transition: width 3s;
    transition-delay: 1s;
}

.pgsite:hover{
    width: 25%;
    height: 25%;
}

.pgsite2{
    height: 50%;
    width: 100%;
    transition: width 3s;
    transition-delay: 1s;
}

.pgsite2:hover{
    width: 25%;
    height: 25%;
}

.row {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-bottom: 1.5rem;
}
  
.column {
    flex: 33%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
}

.pgsitefinal{
    height: 100%;
    width: 100%;
    transition: width 3s;
    transition-delay: 1s;
}

.pgsitefinal:hover{
    width: 25%;
}

.projects-first h1{
    text-align: center;
    margin-bottom: 0.2rem;
}

.projects-second h1{
    text-align: center;
    margin-bottom: 0.2rem;
}

.projects-third h1{
    text-align: center;
    margin-bottom: 0.2rem;
}

.projects-first a{
    color: #353232;
}

.projects-second a{
    color: #353232;
}

.projects-third a{
    color: #353232;
}

.projects-first p{
    color: #353232;
    text-shadow: 1px 1px 2px #FFFFFF;
    font-size: 1.2rem; 
    text-align: center;
    margin-bottom: 20px;
}

.projects-second p{
    color: #353232;
    text-shadow: 1px 1px 2px #FFFFFF;
    font-size: 1.2rem; 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.projects-third p{
    color: #353232;
    text-shadow: 1px 1px 2px #FFFFFF;
    font-size: 1.2rem; 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tmsite{
    margin-top: 1.5rem;
    height: 65%;
    width: 49%;
    transform: translateX(5px) rotate(2deg) translateY(5px);
    animation-name: slide-left;
    animation-duration: 4s;
}

.tmsite2{
    margin-top: 1.5rem;
    height: 65%;
    width: 49%;
    transform: translateX(5px) rotate(2deg) translateY(5px);
    animation-name: slide-right;
    animation-duration: 4s;
}

.spotsite{
    margin-top: 1.5rem;
    width: 50%;
    transition: width 3s;
    transition-delay: 1s;
}

.spotsite:hover {
    width: 25%;
}

.projects-third{
    text-align: center;
}

/* -----------------------------------------------------------Index/ Home Page------------------------------------------------------------------------------ */

.index-first{
    width: 100%;
    height: 158%;
    border: 2px solid transparent;
    box-shadow: 0 0 2.5em #353232;
    margin: 0 auto;
    text-align: center;
}

.index-second{
    width: 100%;
    height: 158%;
    border: 2px solid transparent;
    box-shadow: 0 0 2.5em #353232;
    margin: 0 auto;
    text-align: center;
}

.index-third{
    width: 100%;
    height: 110%;
    border: 2px solid transparent;
    box-shadow: 0 0 2.5em #353232;
    margin: 0 auto;
    text-align: center;
}

.imgone{
    margin-top: 1rem;
    animation-name: slide-left;
    animation-duration: 4s;
    height: 80%;
    width: 49.5%;
}

.imgtwo{
    margin-top: 1rem;
    animation-name: slide-right;
    animation-duration: 4s;
    height: 80%;
    width: 49.5%;
}

@keyframes slide-left {
    from{ transform: translateX(-90em)}
    to{ transform: translateX(0)}
  }

@keyframes slide-right{
    from{ transform: translateX(90em)}
    to{ transform: translateX(0)}
}

.imgthree{
    margin-top: 1rem;
    animation-name: slide-top;
    animation-duration: 4s;
    height: 80%;
    width: 49.5%;
}

.imgfour{
    margin-top: 1rem;
    animation-name: slide-bottom;
    animation-duration: 4s;
    height: 80%;
    width: 49.5%;
}

@keyframes slide-bottom{
    from{ transform: translateY(90em)}
    to{ transform: translateY(0)}
}

@keyframes slide-top{
    from{ transform: translateY(-90em)}
    to{ transform: translateY(0);}
}

.imgfive{
    margin-top: 1rem;
    animation-name: slide-left;
    animation-duration: 4s;
    height: 75%;
    width: 45%;
}

.index-first h1{
    text-align: center;
    margin-bottom: 0.2rem;
}

.index-second h1{
    text-align: center;
    margin-bottom: 0.2rem;    
}

.index-third h1{
    text-align: center;
    margin-bottom: 0.2rem;   
}

.index-first a, p{
    color: #353232
}

.index-second a, p{
    color: #353232    
}

.index-third a, p{
    color: #353232    
}

